.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 48px;
}

.products__prod__images {
    position: relative;
    display: flex;
    min-height: 390px;
}

.products__prod__bestseller {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 7px 13px;
    background-color: white;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}

.products__prod_img {
    width: 100%;
    height: 390px;
    object-fit: cover;
}

.products__prod__btn {
    position: absolute;
    bottom: 0px;
    z-index: 2;
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    font-size: 23px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0;
}

.products__prod__images:hover > .products__prod__btn {
    opacity: 1;
  }

.products__prod__category {
    margin-top: 8px;
    font-size: 22px;
    font-weight: 700;
    color: #656565;
    text-transform: capitalize;
}

.products__prod__name {
    margin-top: 8px;
    font-size: 34px;
    font-weight: 700;
    text-transform: capitalize;

}

.products__prod__price {
    margin-top: 9px;
    font-size: 29px;
    font-weight: 400;
    color: #656565;
}