.detail-container {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 62px 0;
    border-bottom: 4px solid #E4E4E4;
    margin-bottom: 62px;
}

.description-container {
    width: 60%;
    font-size: 22px;
    font-weight: 700;
    color: #656565;
}

.description-container > h6{
    color: #000000;
    font-size: 22px;
}

.description-container :nth-child(2){
    margin: 20px 0;
} 

.description-container :nth-child(3){
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
} 


.also-container {
    display: flex;
    flex-direction: column;
}

.also-container > h6{
    color: #000000;
    font-size: 22px;
    text-align: right;
    margin-bottom: 20px;
    width: 100%;
}

.also {
    display: flex;
    gap: 30px;
}

